.Login {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-top: 40px;
  background-color: rgb(224, 253, 255);
  padding: 30px;
}

.form {
  margin-top: 30px;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.input {
  width: 100%;
  height: 30px;
  margin-bottom: 30px;
}
.textarea {
  width: 100%;
  height: 30px;
  margin-bottom: 30px;
}
.lable {
  justify-content: start;
  width: 100%;
}
.header {
  font-size: 25px;
}
.button {
  margin-top: 10px;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
}
